@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Resume</title>
<link type="text/css" rel="stylesheet" href="~/Content/MY_CV_CSS/CV/green.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/MY_CV_CSS/CV/print.css" media="print" />
</script>
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
  <div class="wrapper-top"></div>
  <div class="wrapper-mid">
    <!-- Begin Paper -->
    <div id="paper">
      <div class="paper-top"></div>
      <div id="paper-mid">
        <div class="entry">
          <!-- Begin Image -->
          <!-- <img class="portrait" src="images/image.jpg" alt="John Smith" /> -->
          <!-- End Image -->
          <!-- Begin Personal Information -->
          <div class="self1">
            <h1 class="name"><b><font face="Calibri" color="ff00ff">Hafiz Zahid Ali</b></font><br />
              </h1></div>
		           <!-- End Personal Information -->
         </div>
        <!-- Begin 1st Row -->
        <div class="entry">
          <h2><b>OBJECTIVE</b></h2>
          <p>Seeking a suitable position in a reputed organization to enhance And to utilize my skills and knowledge to the maximum extent for the betterment of the organization and society and in order to cope with the challenges of the industry.</p>
        </div>
        <!-- End 1st Row -->
        <!-- Begin 2nd Row -->
        <div class="entry">
          <h2><b>EDUCATION</b></h2>
          <div class="content">
            <h3><b><font color="ff00ff">2013 - 2017</font></b></h3>
            <p>Punjab University College Of Information Technology (PUCIT), Lahore <br />
              <em><b>BS-IT</b></em></p>
          </div>
          <div class="content">
            <h3><b><font color="ff00ff">2011 - 2013</font></b></h3>
            <p>Punjab Group of Colleges<br />
              <em><b>FSc (Pre-Engg)</b></em></p>
          </div>
		   <div class="content">
            <h3><b><font color="ff00ff">2009 - 2011</font></b></h3>
            <p>Imtiaz Public School Lahore <br />
              <em><b>Matric</b> (Bio-Phy-Chem)</em></p>
          </div>
         
        </div>
        <!-- End 3rd Row -->
        <div class="entry">
          <h2><b>Professional Projects</b></h2>
          <div class="content">
            <h3><b><font color="red">Friend Searching Management System</font></b></h3>
            <p>FSMS was developed as the term project of subject SE (Software Engineering) in php with usage of database MySQL (with UI).<br />
              <em><b>3rd semester</b></em></p>
          </div>
          <div class="content">
            <h3><b><font color="red">Election management system</font></b></h3>
            <p>It was developed as the term project of subject OOAD. It involves completed documentations and diagrams for the management system.<br />
              <em><b>4th semester</b></em></p>
          </div>
		   <div class="content">
            <h3><b><font color="red">Bakery management Systems</font></b></h3>
            <p>It was developed as the term project of subject DB with MySQL in back end. <br />
              <em><b>4th semester</b></em></p>
          </div>
         <div class="content">
            <h3><b><font color="red">Banquet Hall management Systems</font></b></h3>
            <p>BHMS was developed as the term project of  subject Web engineering as DESKTOP App as well as WEB App (with proper UI designing). <br />
              <em><b>5th semester</b></em></p>
          </div>
        </div>
        
		<!-- Begin 4th Row -->
 		<div class="entry">
          <h2><b>Technical SKILLS</b></h2>
          <div class="content">
            <h3><b><font color="blue">Development Languages</font></b></h3>
            <ul class="skills">
              <li>C++</li>
              <li>C#</li>
              <li>JAVA</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript</li>
              <li>My SQL</li>
              </ul>
          </div>
          <div class="content">
            <h3><b><font color="blue">Software Tools</font></b></h3>
            <ul class="skills">
              <li>Visual Studio</li>
              <li>Netbeans</li>
              <li>Notepad++</li>
              <li>Microsoft Office 2013</li>
              <li>Oracle 10g</li>
              <li>Packet Tracer</li>
            </ul>
          </div>
		  <div class="content">
            <h3><b><font color="blue">Platforms</font></b></h3>
            <ul class="skills">
              <li>Win 7</li>
              <li>Win 8</li>
              <li>Redhat Linux</li>
                   </ul>
          </div>
        </div>
        <!-- End 4th Row -->
         <!-- Begin 5th Row -->
        <!-- Begin 5th Row -->
      </div>
      <div class="clear"></div>
      <div class="paper-bottom"></div>
    </div>
    <!-- End Paper -->
	<td width="100%" >
<center><font size=4 face="Calibri" color="ff00ff"><b><a href = "/Home/index">Thanks for Viewing my detailed resume</b></a></font></center>
</td>

  </div>
  <div class="wrapper-bottom"></div>
</div>
<div id="message"><a href="#top" id="top-link">Go to Top</a></div>
<!-- End Wrapper -->
</body>
</html>
